html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden
}
h1{
  font-family: "Bungee Outline", cursive;
  font-size: 700%;
}
h2{
  font-family: "Bungee Outline", cursive;
  font-size: 500%;
}
hr{
  border: none;
  height: 5px;
  opacity: 50%;
  background-color: white;
}
iframe{
  float: left;
  width: 50%;
  margin-right: 25px;
}
.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 2% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  border-radius: 10px;
  margin:5% 2.5% 0px 2.5%;
}
.button:hover{
  transition-duration: 0.4s;
  outline-color: purple;
  background-color: white;
  color: purple;
}
.button2 {
  cursor: not-allowed;
  border: none;
  border-radius: 10px;
  padding: 2% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:50px 20px 0px 20px;
  outline-color: purple;
  background-color: white;
  color: purple;
}
.header{
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.textbox1 {
  background-color: rgb(255,200,255);
  border-radius: 5px;
  width: 75%;
  padding: 20px;
  outline: black;
  margin: 50px auto 50px auto;
}
.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: left;
  padding: 0px 13.5% 0px 13.5%;
}
@media only screen and (max-width: 1080px){
  iframe{
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 250%;
  }
  .textbox1 {
    background-color: rgb(255,200,255);
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    outline: black;
    margin: 50px auto 50px auto;
  }
}
