:root {
	--main_pink: rgba(255, 155, 155, 255);
}

* { min-width: 0; }

body {
	background-color: rgb(0,0,0);
	margin-bottom: 50px;
}

main {
	font-family: Montserrat;
	margin: 0;
	padding: 10px;
	padding-bottom: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	height: 100vh;
}

.portfolio-block {
	flex: 1;
	## overflow: auto;
	color: rgb(255,255,255);
	background-color: rgb(0,0,0);
	text-align: center;
	min-width: 43%;
	## max-height: 700px;
	padding: 25px;
	margin: 20px;
	outline-style:solid;
	outline-width: 1px;
	outline-color: var(--main_pink);
	overflow: stretch;
	border-radius: 8px;
	box-shadow: 0 0 10px var(--main_pink);
}

.block-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

a {
	background-color: rgb(255,210,230, 0.8);
	padding: 5px;
	line-height: 40px;
}

audio {
	width: 45%;
	background-color: rgb(240,240,240);
	outline-style:solid;
	outline-width: 1px;
	outline-color: var(--main_pink);
	box-shadow: 0 0 15px var(--main_pink);
}

iframe {
	min-height: 300px;
	min-width: 400px;
	height: auto;
	margin: 20px 20px 30px 20px;
	border-radius: 4px;
	box-shadow: 0 0 20px var(--main_pink);
}

.portrait {
	min-height: 300px;
	min-width: 12px;
	height: 400px;
	width: 225px;
}

.block-image {
	max-width: 100%;
	min-width: 10%;
	max-height: 300px;
	height: auto;
	margin: 20px 20px 30px 20px;
	border-radius: 4px;
	box-shadow: 0 0 20px var(--main_pink);
}

.text-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.block-text {
	font-size: 20px;
	text-align: left;
	width: 45%; /* Adjust the width as needed */
}

@media only screen and (max-width: 600px) {
	.block-text {
		font-size: 12px;
	}
	.block-image, iframe {
		max-height: 200px;
	}
}