/* anything that applies to the page itself. */
html {
	scroll-behavior: smooth;
	caret-color: transparent;
}

/* defining (color) variables for later reference. */
:root{
	--pink-01: rgba(255,200,255,1);
	--pink-02: rgb(120, 54, 120);
	--black-01: rgba(0,0,0,1);
}


body {
	overflow-x:hidden;
	-ms-overflow-style: none; /* IE and Edge */
	font-family: 'Montserrat';
	background-color: var(--black-01);
}
/* --------------------------------------------------------------- */
/*base elements*/
h1 {
	font-family: 'Bungee Outline';
	font-size: 70px;
	color: var(--pink-01);
	justify-self: center;
	justify-content: center;
	text-align: center;
	user-select: none;
}

h2 {
	color: var(--pink-01);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	justify-self: center;
	font-weight: bold;
}

p {
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}
.false-p {
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}

select {
	font-size: 5px;
	font-family: 'Montserrat';
}

option {
	color: inherit;
	font-weight: bold;
	font-family: 'Montserrat';
	font-size: 12px;
}


audio {
	color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-enclosure {
	background-color: var(--pink-01); opacity: 0.9;
	border-radius: 20px;
	max-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
audio::-webkit-media-controls-timeline {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-volume-control-container {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-volume-control-container.closed {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-volume-slider-container {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-volume-slider {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-seek-back-button {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-seek-forward-button {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-fullscreen-button {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-rewind-button {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-return-to-realtime-button {
	background-color: var(--pink-01); opacity: 0.9;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
	background-color: var(--pink-01); opacity: 0.9;
}


/* START custom audio controller styling START */
button {
  padding: 0;
  border: 0;
  background: inherit;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
#audio-player-container {
  position: relative;
  margin: 100px 5% auto 5%;
  width: 90%;
  max-width: 500px;
  height: 80px;
  background: #fff;
}
#audio-player-container::before {
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(to left, #007db5, #ff8a00);
  z-index: -1;
}
#play-icon {
  margin: 20px 2.5% 20px 2.5%;
}
path {
  stroke: #007db5;
}
/* END custom audio controller styling END */

a {
	text-decoration: none;
	font-size: 15px;
	transition: color 0.1s;
	line-height: 0px;
}
a:hover {
	color: white;
}

.false-a {
	text-decoration: none;
	font-size: 15px;
	color: var(--pink-01);
}

/* --------------------------------------------------------------- */

/* background image */
.main-image {
	height:100vh;
	aspect-ratio: 840 / 1120;
	z-index: -1;
	position: fixed;
	left:0px;
}

/* --------------------------------------------------------------- */

.container {
	width:100vw;
	min-height:100vh;
	display:flex;
	flex-wrap:auto;
	justify-content:flex-end;
}

.side-page {
	width: 95vw;
	min-height: 95vh;
	border-style: solid;
	border-color: var(--pink-01);
	border-radius: 2vw;
	border-width: 10px;
	margin: 2.5vh 5vw 2.5vh 5vw;
	justify-content: center;
}

/* main block right */
.main-block {
	width: 70vw;
	min-height: 100vh;
	background-color: var(--black-01);
	padding-left: 60px;
	padding-right: 60px;
}

/* content blocks (per displayed work) */
.sub-block {
	min-width: 150px;
	width: 5vw;
	padding: 3% 1% 3% 1%;
	color: var(--pink-01);
	text-align: center;
	font-weight: bold;
	line-height: 1;
}

.banner {
	display: flex;
	justify-content: center;
	user-select: none;
}

.filter {
	color: var(--pink-01);
	width:100px;
	background: #e5ccdfcb;
	color: black;
}

/* Style all font awesome icons */
.fa {
	padding: 10px;
	font-size: 30px;
	height: 50px;
	width: 50px;
	text-align: center;
	user-select: None;
	cursor: pointer;
	justify-content: center;
	text-decoration: none;
	border-radius: 50px;
}

.border-sides {
	border-style: solid;
	border-color: var(--pink-01);
	border-width: 5px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */


.fa-arrow-left {
	background: var(--pink-01);
	color: black;
	position: fixed;
	left: 5vw;
	top: 5vh;
	z-index: 2;
}

/* Linkedin */
.fa-linkedin {
  background: #325bb4;
  color: white;
}

/* Phone */
.fa-phone {
  background: #9140c4;
  color: white;
}

/* Mail */
.fa-envelope {
  background: #89c9d3;
  color: rgb(0, 0, 0);
}

/* CV */
.fa-file {
	background: #e44ab6;
	color: black;
}

.fa-arrow-down {
	background: #e5ccdfcb;
	color: black;
}

/* MODULAR PROPERTIES */
.full-width {
	width:100%;
}
.half-width {
	width: 50%;
}
.half-screen-width {
	width: 50vw;
}

.full-height {
	height:100%;
}
.half-height {
	height: 50%;
}

.thin {
	width: 500px;
}

.centered {
	justify-self: center;
	align-self: center;
}

.even-spaced {
	justify-content: space-evenly;
}

.wrap-overflow {
	flex-wrap: wrap;
}

.highlighted {
	text-decoration: underline;
	background-color: rgb(255.0,255.0,255.0,0.25);
}

.frame-dimensions {
	width: 100%;
	height: 20vw;
}

.no-min-height {
	min-height:auto;
}

.no-vert-padding {
	padding-bottom: 0px;
	padding-top: 0px;
}

.greyed-out {
	color:grey;
}

.white-out {
	color:white;
}

@media only screen and (max-width:835px) {
	h1 {
		font-size: 50px;
	}
	.thin {
		width: 75vw;
	}
	.main-block {
		padding-left: 10px;
		padding-right: 10px;
	}
	.side-page {
		border-style: none;
		margin: 1vh 2.5vw 1vh 2.5vw;
		justify-content: center;
	}
	.main-image {
		display:none;
	}
}

@media only screen and (max-width:1300px) {
	.half-width {
		width:100%;
	}
}